﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:30px">
    <div class="col-md-4">

        <a class="btn btn-default btn-big-home"
           href="/listmovie/index">Movie
        </a>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default btn-big-home"> Album </a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default btn-big-home"> TV Show </a></p>
    </div>
</div>