﻿@model IEnumerable<CMS.Areas.Movie.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>List of Movies</h2>

<p>
    <a href="/createmovie/index">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "EditMovie", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "DetailMovie", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "DeleteConfirmed", "ListMovie", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
